{% extends 'base.html' %} {% block content %}
<div class="container">
  <h1 class="main-title">Study Tracker Page</h1>
  <h5 class="subtitle">Name:</h5>
  <p class="subtitle">{{ name }}</p>
  <h5 class="subtitle">Class:</h5>
  <p class="subtitle">{{ class }}</p>
  <h5 class="subtitle">Attendee's Number:</h5>
  <p class="subtitle">{{ number }}</p>

  


  </a>
  <div class="row">
    <div class="col-md-6">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="margin-left: 1vw; margin-bottom: 3vh;">
        Add Progress by AJAX
      </button>
      <a href="{% url 'main:create_progress' %}">
        <button type="button" class="btn btn-success" style="margin-left: 1vw; margin-bottom: 3vh;">
          <i class="fas fa-plus"></i> Add New Progress
        </button>
      </a>
    </div>
  </div>
  <div id="progress_table"></div>
  <br />
  <div style="display: flex; justify-content: space-between; align-items: center;">
    <h5 class="subtitle">Sesi terakhir login: {{ last_login }}</h5>
    <a href="{% url 'main:logout' %}">
      <button type="button" class="btn btn-danger" style="margin-right: 1vw;">
        <i class="fas fa-sign-out-alt"></i>
        Logout
      </button>
    </a>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Progress</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form id="form" onsubmit="return false;">
                  {% csrf_token %}
                  <div class="mb-3">
                      <label for="subject" class="col-form-label">Subject:</label>
                      <input type="text" class="form-control" id="subject" name="subject"></input>
                  </div>
                  <div class="mb-3">
                      <label for="start_Study" class="col-form-label">Start Study:</label>
                      <input type="text" class="form-control" id="start_Study" name="start_Study"></input>
                  </div>
                  <div class="mb-3">
                      <label for="progress" class="col-form-label">Progress (%):</label>
                      <input type="number" class="form-control" id="progress" name="progress"></input>
                  </div>
                  <div class="mb-3">
                      <label for="catatan" class="col-form-label">Catatan:</label>
                      <textarea class="form-control" id="catatan" name="catatan"></textarea>
                  </div>
              </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Progress</button>
          </div>
      </div>
  </div>
</div>

<script>
  async function getProgresses() {
        return fetch("{% url 'main:show_json' %}").then((res) => res.json())
  }
  async function refreshProgresses() {
    document.getElementById("progress_table").innerHTML = ""
    const progress = await getProgresses()
    let htmlString = '<div class="row">'
    if (progress.length > 0) {
      progress.forEach((item) => {
        htmlString += `<div class="col-md-4">
            <div class="card-body" style="background-color:#9AD0C2; color: #265073;">
              <h3 class="card-title">${item.fields.subject}</h3>
              <p class="card-text">Start study : ${item.fields.start_Study}</p>
              <p class="card-text">Progress (%) : ${item.fields.progress}</p>
              <p class="card-text">Catatan</p>
              <div class = "catatan">${item.fields.catatan}</div>
              
              <a href="/edit-progress/${item.pk}" style="text-decoration: none; padding-left: 0; margin-bottom: 1vh">
                <button type="button" class="btn btn-info" style = "color: white; display: inline-block;">
                  <i class="fas fa-pencil-alt"></i> 
                  Edit Progress
                </button>
              </a>
              <a href = "/delete/${item.pk}" style="text-decoration: none; padding-left: 0;">
                <button type="button" class="btn btn-warning" style = "display: inline-block;">
                <i class="fas fa-trash-alt"></i> Delete Progress
                </button>
              </a>
              <div style="margin-top: 2vh; padding-bottom: 1vh;">
                <p class="card-text">Date added : ${item.fields.date_added}</p>
              </div>
            </div>
        </div>`
      })
    } else {
      htmlString = `<div class="col-md-12 text-center" id="no-progress" style="margin-bottom: 16vh; margin-top: 16vh;">
        <p>No progress available.</p>
      </div>`
    }
    htmlString += '</div>'
    document.getElementById("progress_table").innerHTML = htmlString
  }

  refreshProgresses()
  function addProgress() {
      fetch("{% url 'main:add_progress_ajax' %}", {
          method: "POST",
          body: new FormData(document.querySelector('#form'))
      }).then(refreshProgresses)

      document.getElementById("form").reset()
      return false
  }
    document.getElementById("button_add").onclick = addProgress
</script>
{% endblock content %}